

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px 0;
    padding-top: 0;
    background-color: azure;
    
   
}

header{
    background-image: url('../images/pattern.jpeg');
    position: relative;
    top: 0;
    background-size: cover;
    
    
 }
header h1 {
    margin: 0 0 0 20px;
    padding-top: 0;
    text-align: center;
    font-size: 100px;
    color: Khaki;
    padding: 50px;
    /* position: relative; */

}
header p{
    text-align: center;
    padding: 0;
    position: relative;
    bottom: 30px;
}
.brushes{
    position: relative;
    display: inline-block;
}

.brushes .headline{
    background-color: green;

}
.brushes a {
    color: blue;
}

.frames h1{
    background-color: palevioletred;
}

.frames strong {
    color: springgreen;
    text-decoration: underline;
}
